@using WebBanHangOnline.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/1LayoutAdmin/assets/images/faces/admin.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Trang Quản Trị</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="admin" asp-controller="User" asp-action="ListUser">
                <span class="menu-title">Quản lý tài khoản</span>
                <i class="mdi mdi-tooltip-edit menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="admin" asp-controller="KhachHang" asp-action="ListKhachHang">
                <span class="menu-title">Quản lý khách hàng</span>
                <i class="mdi mdi-tooltip-edit menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="admin" asp-controller="NhanVien" asp-action="ListNhanVien">
                <span class="menu-title">Quản lý nhân viên</span>
                <i class="mdi mdi-tooltip-edit menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"asp-area="admin" asp-controller="HomeAdmin" asp-action="DanhMucSanPham">
                <span class="menu-title">Quản lý sản phẩm</span>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Quản lý thống kê</span>
                <i class="mdi mdi-newspaper menu-icon"></i>
            </a>
             <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="admin"
                           asp-controller= asp-action="">Thống kê đơn hàng</a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" asp-area="admin"
                           asp-controller="" asp-action="" >Thống kê sản phẩm</a></li>
                    <li class="nav-item"> 
                        <a class="nav-link" asp-area="admin"
                           asp-controller="" asp-action="" >Thống kê doanh thu</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>