
@{
    ViewData["Title"] = "SanPhamTheoLoai";
}

@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<DanhMucSp>

@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialSP", item)
}
<div class="product__pagination">
    @Html.PagedListPager(Model, page=>Url.Action("SanPhamTheoLoai", new{page=page, maloai=ViewBag.maloai}))
</div>



