@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBanHangOnline.Models.User

@{
    ViewData["Title"] = "DoiQuyen";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-list">
            <a asp-area="admin" asp-controller="User" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="admin" asp-controller="User" asp-action="ListUser" class="breadcrumb-item"><i></i>Danh sách tài khoản</a>
            <span class="breadcrumb-item active">Đổi quyền đăng nhập</span>
        </nav>
    </div>
</div>

<hr />
<h1>Đổi quyền đăng nhập</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DoiQuyen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Username" />
            <div class="form-group">
                <label asp-for="Username" class="control-label">Tên đăng nhập</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiUser" class="control-label">Tên quyền</label>
                <select asp-for="LoaiUser" class="form-control" asp-items="ViewBag.LoaiUser"></select>
                <span asp-validation-for="LoaiUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListUser">Quay về</a>
</div>
<style>
    h1{
        background-color:#FFE4B5
    }
</style>

