@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBanHangOnline.Models.User

@{
    ViewData["Title"] = "ThemUser";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    h1{
        background-color:#FFE4B5
    }
</style>

<h1>Thêm tài khoản</h1>

<h4>Accounts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThemUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="LoaiUser" class="control-label">Quyền</label>
                <select asp-for="LoaiUser" class ="form-control" asp-items="ViewBag.LoaiUser"></select>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-danger btn-icon-text" asp-action="ListUser" >Trở về</a>
</div>

