@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBanHangOnline.Models.DanhMucSp

@{
    ViewData["Title"] = "ThemSanPhamMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-list">
            <a asp-area="admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="admin" asp-controller="HomeAdmin" asp-action="DanhMucSanPham" class="breadcrumb-item"><i></i>Danh mục sản phẩm</a>
            <span class="breadcrumb-item active">Thêm sản phẩm mới</span>
        </nav>
    </div>
</div>
<style>
    h1{
        background-color:#FFE4B5
    }
</style>
<hr />
<h1>Thêm Sản Phẩm Mới</h1>

<h4>Danh Mục Sản Phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemSanPhamMoi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MaSp" class="control-label">Mã sản phẩm</label>
                <input asp-for="MaSp" class="form-control" />
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSp" class="control-label">Tên sản phẩm</label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNuocSx" class="control-label">Mã nước sản xuất</label>
                <input asp-for="MaNuocSx" class="form-control" />
                <span asp-validation-for="MaNuocSx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiThieuSp" class="control-label">Giới thiệu sản phẩm</label>
                <input asp-for="GioiThieuSp" class="form-control" />
                <span asp-validation-for="GioiThieuSp" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="MaChatLieu" class="control-label">Chất liệu</label>
                <select asp-for="MaChatLieu" class ="form-control" asp-items="ViewBag.MaChatLieu"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaLoai" class="control-label">Loại sản phẩm</label>
                <select asp-for="MaLoai" class ="form-control" asp-items="ViewBag.MaLoai"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaHangSx" class="control-label">Hãng sản xuất</label>
                <select asp-for="MaHangSx" class ="form-control" asp-items="ViewBag.MaHangSX"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnhDaiDien" class="control-label">Ảnh đại diện</label>
                <input asp-for="AnhDaiDien" class="form-control" />
                <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaNhoNhat" class="control-label">Giá nhỏ nhất</label>
                <input asp-for="GiaNhoNhat" class="form-control" />
                <span asp-validation-for="GiaNhoNhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaLonNhat" class="control-label">Giá lớn nhất</label>
                <input asp-for="GiaLonNhat" class="form-control" />
                <span asp-validation-for="GiaLonNhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay về</a>
</div>

