

@{
	Layout = null;
}

@model KhachHang
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="~/1LayoutWeb/img/V_H.png" type="image/x-icon">
	<title>Đăng Ký Tài Khoản</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->

	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />

	<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="~/LayoutLogin/layout1/vendor/bootstrap/css/bootstrap.min.css">

	<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="~/LayoutLogin/layout1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

	<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="~/LayoutLogin/layout1/vendor/animate/animate.css">

	<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="~/LayoutLogin/layout1/vendor/css-hamburgers/hamburgers.min.css">

	<!--===============================================================================================-->


	<link rel="stylesheet" type="text/css" href="~/LayoutLogin/layout1/vendor/select2/select2.min.css">
	<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="~/LayoutLogin/layout1/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/LayoutLogin/layout1/css/main.css">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="~/1LayoutWeb/img/V&H.png" alt="IMG">
				</div>

				@* <form class="login100-form validate-form"> *@
				@using (Html.BeginForm("DangKyTaiKhoan", "Access", FormMethod.Post))
				{
					<span class="login100-form-title">Đăng ký tài khoản</span>

					@* <div class="wrap-input100 validate-input">
						<input class="input100" asp-for="MaKhachHang" type="text" placeholder="Mã khách hàng" />
						<span class="focus-input100" asp-validation-for="MaKhachHang"></span>
						<span class="symbol-input100"></span>
					</div> *@
					<div class="wrap-input100 validate-input">
						<input class="input100" asp-for="TenKhachHang" type="text" placeholder="Họ và tên" />
						<span class="focus-input100" asp-validation-for="TenKhachHang"></span>
						<span class="symbol-input100"></span>
					</div>
 
					<div class="wrap-input100 validate-input">

						<input class="input100" asp-for="SoDienThoai" type="tel" placeholder="Số điện thoại" />
						<span asp-validation-for="SoDienThoai" class="focus-input100"></span>
						<span class="symbol-input100">

						</span>
					</div>
					<div class="wrap-input100 validate-input">
						<input class="input100" asp-for="Username" type="text" placeholder="Tên đăng nhập" />
						<span asp-validation-for="Username" class="focus-input100"></span>
						<span class="symbol-input100"></span>
					</div>
					<div class="wrap-input100 validate-input">

						<input class="input100" asp-for="Password" type="password" placeholder="Mật khẩu" />

						<span asp-validation-for="Password" class="focus-input100"></span>
						<span class="symbol-input100">

						</span>
					</div>
					<div class="wrap-input100 validate-input">

						<input class="input100" asp-for="Password" type="password" placeholder="Nhập lại mật khẩu" />
						<span asp-validation-for="Password" class="focus-input100"></span>
						<span class="symbol-input100"></span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Đăng ký
						</button>
					</div>

					@* </form> *@
				}
			</div>

		</div>

	</div>

	<!--===============================================================================================-->
	<script src="~/LayoutLogin/layout1/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/LayoutLogin/layout1/vendor/bootstrap/js/popper.js"></script>
	<script src="~/LayoutLogin/layout1/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/LayoutLogin/layout1/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/LayoutLogin/layout1/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="~/LayoutLogin/layout1/js/main.js"></script>

</body>
</html>


