@model IEnumerable<LoaiSp>
<div class="col-lg-3 col-md-5">
    <div class="sidebar">
        <div class="sidebar__item">
            <h4>Danh sách sản phẩm</h4>
            <ul>
                @foreach(var item in Model)
                {

                <li><a href="#">dddd</a></li>
               
                }
            </ul>
        </div>
       
    </div>
</div>